name: Backport merge pull request on push
on:
  push:
    branches:
      - production

permissions:
  contents: write # so it can comment
  pull-requests: write # so it can create pull requests
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  backport_to_staging_on_push:
    name: Backport pull request to staging on push
    runs-on: ubuntu-latest
    env:
      TARGET_BRANCH: staging
    # Don't run on merged pull requests
    steps:
      - uses: actions/checkout@v3
      - name: Set variables
        run: |
          echo "Github.event_name is ${{ github.event_name }}"

          # push された commit が merge commit の場合 PR のdata が取得できる
          MERGED_PR_JSON=$(gh pr list --state merged --json number,headRefName,mergeCommit  --jq '.[] | select(.mergeCommit | .oid == "${{ github.event.after }}")')
          
          echo "MERGED_PR_JSON is $MERGED_PR_JSON"

          # merge commit か 直 push かによって変数の中身を変える
          if [ -z $MERGED_PR_JSON ]; then
            # PR がない場合は直接 commit が push されたとき 
            REFNAME="direct-push"
            REPO=${{ github.repository }}
            REFURL="https://github.com/$REPO/commit/${{ github.event.after }}"
            echo "Pushed commit URL is $REFURL"
          else
            # PR がある場合 json を整形して変数に代入
            REFNAME=$(echo $MERGED_PR_JSON | jq -r '.headRefName')
            REFURL="#$(echo $MERGED_PR_JSON | jq '.number')"
            echo "Merged PR URL is $REFURL"
          fi

          # 後続ステップで使用する変数を環境変数に定義する
          echo "REFNAME=$REFNAME" >> "$GITHUB_ENV"
          echo "REFURL=$REFURL" >> "$GITHUB_ENV"
      - name: Create backport PR
        run: |
          echo "push commit is $REFURL by ${{ github.event.pusher.name }}"

          # lint が通る形に整形
          CURRENT_BRANCH="backport/$(echo $REFNAME | tr / -)-to-merge-$TARGET_BRANCH"

          # github actions 内で backport 用のローカルリポジトリを作成
          git checkout -b "$CURRENT_BRANCH"

          # リモートブランチに push
          git push -u origin "$CURRENT_BRANCH"

          # PR 作成、 head は現在 checkout している backport ブランチになる
          gh pr create -B $TARGET_BRANCH -t "[backport] $REFNAME to $TARGET_BRANCH" -b "# Description
          backport of $REFURL to $TARGET_BRANCH"

          # 後続のステップで利用するため作成した PR の number を取得し環境変数に入れる
          # branch を元に URL を取得しそれを正規表現で number のみ抽出している
          echo "TARGET_PR_NUMBER=$(gh pr list -B $TARGET_BRANCH -H "$CURRENT_BRANCH" --jq ".[] | .url" --json url | grep -oP '/pull/\K\d+')" >> "$GITHUB_ENV"
      - uses: hmarr/auto-approve-action@v3
        with:
          # URL ではなく number が必要
          pull-request-number: ${{ env.TARGET_PR_NUMBER }}
          github-token: ${{ secrets.MY_ACCESS_TOKEN }}
      - name: Merge backport PR
        if: env.TARGET_PR_NUMBER != null
        run: |
          gh pr merge --merge "$TARGET_PR_NUMBER"
  backport_to_lab_on_push:
    name: Backport pull request to lab on push
    runs-on: ubuntu-latest
    needs: backport_to_staging_on_push
    env:
      TARGET_BRANCH: lab
    # Don't run on merged pull requests
    steps:
      - uses: actions/checkout@v3
      - name: Set variables
        run: |
          echo "Github.event_name is ${{ github.event_name }}"

          # push された commit が merge commit の場合 PR のdata が取得できる
          MERGED_PR_JSON=$(gh pr list --state merged --json number,headRefName,mergeCommit  --jq '.[] | select(.mergeCommit | .oid == "${{ github.event.after }}")')
          
          echo "MERGED_PR_JSON is $MERGED_PR_JSON"
          
          # merge commit か 直 push かによって変数の中身を変える
          if [ -z $MERGED_PR_JSON ]; then
            # PR がない場合は直接 commit が push されたとき 
            REFNAME="direct-push"
            REPO=${{ github.repository }}
            REFURL="https://github.com/$REPO/commit/${{ github.event.after }}"
            echo "Pushed commit URL is $REFURL"
          else
            # PR がある場合 json を整形して変数に代入
            REFNAME=$(echo $MERGED_PR_JSON | jq -r '.headRefName')
            REFURL="#$(echo $MERGED_PR_JSON | jq '.number')"
            echo "Merged PR URL is $REFURL"
          fi

          # 後続ステップで使用する変数を環境変数に定義する
          echo "REFNAME=$REFNAME" >> "$GITHUB_ENV"
          echo "REFURL=$REFURL" >> "$GITHUB_ENV"
      - name: Create backport PR
        run: |
          # merge されたブランチの production 内にいるので staging に checkout
          git fetch
          git checkout staging

          echo "push commit is $REFURL by ${{ github.event.pusher.name }}"

          # lint が通る形に整形
          CURRENT_BRANCH="backport/$(echo $REFNAME | tr / -)-to-merge-$TARGET_BRANCH"

          # github actions 内で backport 用のローカルリポジトリを作成
          git checkout -b "$CURRENT_BRANCH"

          # リモートブランチに push
          git push -u origin "$CURRENT_BRANCH"

          # PR 作成、 head は現在 checkout している backport ブランチになる
          gh pr create -B $TARGET_BRANCH -t "[backport] $REFNAME to $TARGET_BRANCH" -b "# Description
          backport of $REFURL to $TARGET_BRANCH"
          
          # 後続のステップで利用するため作成した PR の number を取得し環境変数に入れる
          # branch を元に URL を取得しそれを正規表現で number のみ抽出している
          echo "TARGET_PR_NUMBER=$(gh pr list -B $TARGET_BRANCH -H "$CURRENT_BRANCH" --jq ".[] | .url" --json url | grep -oP '/pull/\K\d+')" >> "$GITHUB_ENV"
      - uses: hmarr/auto-approve-action@v3
        with:
          # URL ではなく number が必要
          pull-request-number: ${{ env.TARGET_PR_NUMBER }}
          github-token: ${{ secrets.MY_ACCESS_TOKEN }}
      - name: Merge backport PR
        if: env.TARGET_PR_NUMBER != null
        run: |
          gh pr merge --merge "$TARGET_PR_NUMBER"
