name: Backport merge pull request
on:
  pull_request_target:
    types:
      - closed
    branches:
      - production # base branch

permissions:
  contents: write # so it can comment
  pull-requests: write # so it can create pull requests
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  backport_to_staging_on_pull_request_target:
    name: Backport pull request to staging
    runs-on: ubuntu-latest
    env:
      TARGET_BRANCH: staging
    # Don't run on closed unmerged pull requests
    if: |
      github.event.pull_request.merged == true
      && github.event.action == 'closed'
    steps:
      - uses: actions/checkout@v3
      - name: Create backport PR
        run: |
          echo "Github.event_name is ${{ github.event_name }}"
          # github actions 内で backport 用のローカルリポジトリを作成
          # lint error が起こらない形式に整形
          CURRENT_BRANCH="backport/$(echo ${{ github.head_ref }} | tr / -)-to-merge-$TARGET_BRANCH"
          git checkout -b "$CURRENT_BRANCH"
          # リモートブランチに push
          git push -u origin "$CURRENT_BRANCH"
          # PR 作成、 head は現在 checkout している backport ブランチになる
          gh pr create -B $TARGET_BRANCH -t "[backport] ${{ github.head_ref }} to $TARGET_BRANCH" -b "# Description
          backport of #${{ github.event.number }} to $TARGET_BRANCH"
          # 後続のステップで利用するため作成した PR の URL を取得し環境変数に入れる
          # branch を元に URL を取得しそれを正規表現で number のみ抽出している
          echo "target_pr_number=$(gh pr list -B $TARGET_BRANCH -H "$CURRENT_BRANCH" --jq ".[] | .url" --json url | grep -oP '/pull/\K\d+')" >> "$GITHUB_ENV"
      - uses: hmarr/auto-approve-action@v3
        with:
          # URL ではなく number が必要
          pull-request-number: ${{ env.target_pr_number }}
          github-token: ${{ secrets.MY_ACCESS_TOKEN }}
      - name: Merge backport PR
        if: env.target_pr_number != null
        run: |
          gh pr merge --merge "$target_pr_number" --auto
  backport_to_lab_on_pull_request_target:
    name: Backport pull request to lab
    runs-on: ubuntu-latest
    needs: backport_to_staging_on_pull_request_target
    env:
      TARGET_BRANCH: lab
    steps:
      - uses: actions/checkout@v3
      - name: Create backport PR
        run: |
          # merge されたブランチの production 内にいるので staging に checkout
          git fetch
          git checkout staging
          echo "Github.event_name is ${{ github.event_name }}"
          # github actions 内で backport 用のローカルリポジトリを作成
          # lint error が起こらない形式に整形
          CURRENT_BRANCH="backport/$(echo ${{ github.head_ref }} | tr / -)-to-merge-$TARGET_BRANCH"
          git checkout -b "$CURRENT_BRANCH"
          # リモートブランチに push
          git push -u origin "$CURRENT_BRANCH"
          # PR 作成、 head は現在 checkout している backport ブランチになる
          gh pr create -B $TARGET_BRANCH -t "[backport] ${{ github.head_ref }} to $TARGET_BRANCH" -b "# Description
          backport of #${{ github.event.number }} to $TARGET_BRANCH"
          # 後続のステップで利用するため作成した PR の URL を取得し環境変数に入れる
          # branch を元に URL を取得しそれを正規表現で number のみ抽出している
          echo "target_pr_number=$(gh pr list -B $TARGET_BRANCH -H "$CURRENT_BRANCH" --jq ".[] | .url" --json url | grep -oP '/pull/\K\d+')" >> "$GITHUB_ENV"
      - uses: hmarr/auto-approve-action@v3
        with:
          # URL ではなく number が必要
          pull-request-number: ${{ env.target_pr_number }}
          github-token: ${{ secrets.MY_ACCESS_TOKEN }}
      - name: Merge backport PR
        if: env.target_pr_number != null
        run: |
          gh pr merge --merge "$target_pr_number" --auto
