# backport_on_pull_request_target の処理とほとんど同じだが直 push されたときは pull_request_target ではトリガーとならないのでこちらで処理を行う
name: Backport merge pull request on push
on:
  push:
    branches:
      - production

permissions:
  contents: write # so it can comment
  pull-requests: write # so it can create pull requests
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  backport_to_staging_on_push:
    name: Backport pull request to staging on push
    runs-on: ubuntu-latest
    env:
      TARGET_BRANCH: staging
    # Don't run on merged pull requests
    # jenkins が _autogen によって直push を行っているため user が jenkins のみに制御
    # if: |
    #   github.actor == 'jenkins'
    steps:
      - uses: actions/checkout@v3
      - name: Create backport PR
        run: |
          echo "Github.event_name is ${{ github.event_name }}"
          # commit SHA を取得
          echo "Github commit sha is ${{ github.event.after }}"
          echo "Github commit sha is ${{ github.sha }}"
          # github actions 内で backport 用のローカルリポジトリを作成
          merged_pr_json=$(gh pr list --state merged --json number,headRefName,baseRefName,mergedAt,author,mergeCommit  --jq '.[] | select(.mergeCommit | .oid == "${{ github.event.after }}")')
          echo "merged_pr_json=$merged_pr_json" >> "$GITHUB_ENV"
          echo "merged commit data is $merged_pr_json"
          echo "push commit is PR #$(echo $merged_pr_json | jq '.number') by $(echo $merged_pr_json | jq -c '.author')"
          CURRENT_BRANCH="backport/$(echo $merged_pr_json | jq -r '.headRefName' | tr / -)-to-merge-$TARGET_BRANCH"
          git checkout -b "$CURRENT_BRANCH"
          # リモートブランチに push
          git push -u origin "$CURRENT_BRANCH"
          # PR 作成、 head は現在 checkout している backport ブランチになる
          gh pr create -B $TARGET_BRANCH -t "[backport] $(echo $merged_pr_json | jq -r '.headRefName') to $TARGET_BRANCH" -b "# Description
          backport of #$(echo $merged_pr_json | jq '.number') to $TARGET_BRANCH"
          # 後続のステップで利用するため作成した PR の number を取得し環境変数に入れる
          # branch を元に URL を取得しそれを正規表現で number のみ抽出している
          echo "target_pr_number=$(gh pr list -B $TARGET_BRANCH -H "$CURRENT_BRANCH" --jq ".[] | .url" --json url | grep -oP '/pull/\K\d+')" >> "$GITHUB_ENV"
      - uses: hmarr/auto-approve-action@v3
        with:
          # URL ではなく number が必要
          pull-request-number: ${{ env.target_pr_number }}
          github-token: ${{ secrets.MY_ACCESS_TOKEN }}
      - name: Merge backport PR
        if: env.target_pr_number != null
        run: |
          gh pr merge --merge "$target_pr_number"
  backport_to_lab_on_push:
    name: Backport pull request to lab on push
    runs-on: ubuntu-latest
    needs: backport_to_staging_on_push
    env:
      TARGET_BRANCH: lab
    # Don't run on merged pull requests
    steps:
      - uses: actions/checkout@v3
      - name: Create backport PR
        run: |
          # merge されたブランチの production 内にいるので staging に checkout
          git fetch
          git checkout staging
          echo "Github.event_name is ${{ github.event_name }}"
          echo "Github.event.pull_request is ${{ github.event.pull_request }}"
          # github actions 内で backport 用のローカルリポジトリを作成
          CURRENT_BRANCH="backport/$(echo ${{ env.merged_pr_json }} | jq -r '.headRefName' | tr / -)-to-merge-$TARGET_BRANCH"
          git checkout -b "$CURRENT_BRANCH"
          # リモートブランチに push
          git push -u origin "$CURRENT_BRANCH"
          # PR 作成、 head は現在 checkout している backport ブランチになる
          gh pr create -B $TARGET_BRANCH -t "[backport] $(echo ${{ env.merged_pr_json }} | jq -r '.headRefName') to $TARGET_BRANCH" -b "# Description
          backport of #$(echo ${{ env.merged_pr_json }} | jq '.number') to $TARGET_BRANCH"
          # 後続のステップで利用するため作成した PR の URL を取得し環境変数に入れる
          # branch を元に URL を取得しそれを正規表現で number のみ抽出している
          echo "target_pr_number=$(gh pr list -B $TARGET_BRANCH -H "$CURRENT_BRANCH" --jq ".[] | .url" --json url | grep -oP '/pull/\K\d+')" >> "$GITHUB_ENV"
      - uses: hmarr/auto-approve-action@v3
        with:
          # URL ではなく number が必要
          pull-request-number: ${{ env.target_pr_number }}
          github-token: ${{ secrets.MY_ACCESS_TOKEN }}
      - name: Merge backport PR
        if: env.target_pr_number != null
        run: |
          gh pr merge --merge "$target_pr_number"
